<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="container">
      <div class="el small" id="el"></div>
      <div class="el small" id="elio"></div>
      <div class="el large" id="hero"></div>
      <div class="el medium" id="nice"></div>
    </div>
  </body>
</html>

